{% extends "layout.njk" %}

{% block head %}{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background:url(https://source.unsplash.com/collection/332741/500x500) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Cadastrar professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <input type="url" name="avatar_url" placeholder="htpp://">
            </div>

            <div class="item">
                <div>Professor</div>
                <input type="text" name="name" placeholder="Nome completo">
            </div>
            
            <div class="item">
                <div>Data de nascimento</div>
                <input type="date" name="birth">
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <select name="degree">
                    <option value="medio">Ensino Médio Completo</option>
                    <option value="superior">Ensino Superior Completo</option>
                    <option value="mestrado">Mestrado</option>
                    <option value="doutorado">Doutorado</option>

                </select>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" name="class_type" value="Presencial" checked>Presencial</span>
                    <span><input type="radio" name="class_type" value="À distância">À distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <input type="text" name="subjects" placeholder="Separe por vírgula">
            </div>

            <button type="submit">Salvar</button>
        </section>
    </form>
{% endblock %}